<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true" />
  
  <include file="$(find finalpkg)/launch/navigation.launch" />
  
  <node pkg="finalpkg" name="explore" type="explore" output="screen" />
  <node pkg="finalpkg" name="tag_detect" type="tag_detect" output="screen" />
</launch>
